$ag-root-font-family: $font-body;
$ag-root-font-size: 5px;
$ag-border-1: 0;
$ag-foreground: mat-color($md-primary, 400);
$ag-header-foreground: mat-color($md-primary, 600);
$ag-separator-color: #d1d1d1;
$ag-row-selected-background-color: mat-color($md-primary, 100);
