.card-shadow {
  box-shadow: 2px 6px $card-shadow, 2px 2px 4px $card-shadow;
}

.card {
  background-color: #fff;
}

.heRo-menu {
  background-color: #fff;
}

.datatype-input {
  background-color: $color-input;
}

.datatype-value-primary {
  background-color: $color-value-primary;
}

.datatype-value-secondary {
  background-color: $color-value-secondary;
}

.datatype-summary-primary {
  background-color: $color-summary-primary;
}

.datatype-summary-secondary {
  background-color: $color-summary-secondary;
}

.datatype-input {
  background-color: $color-input;
}

.datatype-groupattrib {
  background-color: $color-groupattrib;
}

.datatype-formula {
  background-color: $color-formula;
}

.datatype-table {
  background-color: $color-table;
}

.datatype-strategy {
  background-color: $color-strategy;
}

.datatype-state {
  background-color: $color-state;
}

.datatype-group {
  background-color: $color-group;
}
