@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono');

$font-header: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-body: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-mono: 'Roboto Mono', 'Source Code Pro', 'Consolas', 'Courier', monospace;

.model-editor-tab {
  span:first-of-type {
    font-size: 24px;
    font-weight: 500;
  }
}
