$card-shadow: rgba(0, 0, 0, .25);

//Datatype colors;
$color-heemod: #8064A1;
$color-value-primary: #DD515E;
$color-value-secondary: #46BE6B;
$color-summary-primary: #990040;
$color-summary-secondary: #068344;
$color-input: #357EB4;
$color-groupattrib: #915223;
$color-formula: #757575;
$color-table: #4D4D4D;
$color-strategy: #9BBA58;
$color-state: #FF893B;
$color-group: #FF7979;
